* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-image: url("/public/droid2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
}
h2 {
  margin: 20px;
  font-size: 50px;
  color: crimson;
}
.container {
   max-width: 1300px;
   width: 100%;
   margin: auto;
}
section{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* section {
  min-height: 100vh;
  max-width: 100vw;
  background-color: rgb(249, 249, 255);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bots-card {
  /* height: 100vh; */
  /* display: flex; */
  /* justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
} */
/* .card-row {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
} */ 